/* header */
.navigation-bar {
    top:0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(245,235,220);;
}

.navigation-bar a {
    margin: 0 20px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
}

.logo {
    margin-right: auto;
    padding-left: 20px;
}

.navigation-bar a img:hover {
    filter: brightness(0) invert(1);
}

.navigation-bar img {
    width: auto;
    height: auto;
    display: block;
    max-height: 35px;
    object-fit: contain;
}

.menu-icon img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 20px;
    max-height: 35px;
    object-fit: contain;
}

.menu-icon img:hover {
    filter: brightness(0) invert(1);
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    z-index: 10;
}

.menu-item {
    padding: 5px 2px;
    padding-right: 20px;
    border-bottom: 1px solid white;
}

.menu-item img {
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.menu-text {
    font-size: 15px;
    color: #000000;
}

.menu-item:hover {
    background-color: rgb(180, 180, 180);
}

.welcome {
    font-size: 15px;
    font-weight: bold;
}

.login-text {
    font-size: 20px;
    margin-left: 10px;
    color: #000000;
}

.login:hover {
    filter: brightness(0) invert(1);
}

.logout {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    padding: 5px 2px;
    border-bottom: 1px solid white;
}

.logout img {
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}

.logout:hover {
    background-color: rgb(180, 180, 180);
}

.logout-text {
    color: #000000;
    font-size: 20px;
    margin-left: 20px;
}